.App {
  text-align: center;
  margin: 0;
  padding: 0;;
}

.card { 
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(0, 0, 136);
  color: wheat;
  box-shadow: 0px 8px 10px rgba(0, 0,  0, 0.5);
  width: 100%;
}

/* Custom Fonts */
@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBM/IBMPlexSansArabic-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: IBM;
  src: url("../public/fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}